body {
    background-color: black;
    font-size: .85vw;
    cursor: default;
    color: white;
  
  };

  .movie-card{
    background-color: #141414;
    color: #fff;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  
  .movie-card:hover {
    transform: scale(1.05);
  }
  
  .movie-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .movie-card-body {
    padding: 1rem;
  }
  
  
  .movie-card-link:hover {
    text-decoration: underline;
  }